/*
    Theme Name: Comes&Bebes
    Author: Larissa Soares Reis
*/

@import 'reset.css';

/*Configs do HEADER*/

header > .content-top{
    background-color: #7A247D;
    height: 4rem;
    display:flex;
    justify-content: space-evenly;
    align-content: baseline;
}

header > .content-top > #content-left{
    display:flex;
    align-items: center;
    align-content: center;
    gap: 2rem;
}

header > .content-top > #content-left > .input-style{
    border-bottom: solid;
    border-color: #F5C661;
    border-width: .1rem;
}

header > .content-top > #content-left > .input-style > form > input{
    border-style: none;
    background-color: transparent;
    width: 25rem;
    padding-left: .5rem;
}

header > .content-top > #content-right{
    display:flex;
    align-items: center;
    align-content: center;
    gap: 2rem;
}

header > .content-top > #content-left > img{
   height: 70%;
   width: auto;
}

header > .content-top > #content-right > a > button{
    background-color:#F5C661;
    border-style: none;
    padding: 0.5rem 1rem;
}

/*Configs footer*/

footer > .info-bottom{
    background-color: #F5C661;
}

footer > .info-bottom > p{
    text-align: center;
}

/*Main content Config*/

main > .content-top{
    background-color: #7A247D;
}

main > .content-top > h1{
    color:#F5C661;
    font-size: 3rem;
    text-align: center;
    padding-top: 5rem;
}

main > .content-top > h2{
    color: #fafafa;;
    font-size: 2rem;
    text-align: center;
    padding-top:1rem;
    padding-bottom:7rem;
}

main > .content-bottom{
    background-color:#E7FAFE;
    width: 100%;
    height:auto;
}

main > .content-bottom > h2{
    font-size: 1.7rem;
    padding:5rem;
    text-align: center;
}

/*Config Acima do footer na index*/

main > .content-footer{
    background-color: #7A247D;
    position:relative;
    display:flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 8rem;
    gap:8rem;
}

main > .content-footer > .footer-left{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

main > .content-footer > .footer-left > .address{
    display: flex;
    flex-direction: row;
    gap:.5rem;
}

main > .content-footer > h2{
    position:absolute;
    align-items: center;
    top: 3rem;
    font-size: 2rem;
    color:#fafafa;
}




